/* styles.css */

.main-container {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #3f3cbb, #5a55ae);
    /* padding-top: 50px; */
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .nav-links {
    display: flex;
    gap: 1rem;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
  }
  
  .button {
    background-color: #fff;
    color: #5a55ae;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    /* margin-top: 100px; */
  }
  
  .title {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
    color:white
  }
  
  .description {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #ccc;
  }
  
  .input-message {
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .input-container {
    display: flex;
    gap: 1rem;
  }
  
  .input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 300px;
    height: 30px;
  }
  
  .shorten-button {
    background-color: #ff8c37;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  .shorten-button:hover{
    background-color: #dacec5;
    padding: 0.5rem 1rem;
    color: #bb3a3a;
    border: 1px solid blue;
    border-radius: 0.25rem;
  }
  
  .shortened-url-container {
    margin-top: 20px;
  }
  
  .shortened-url {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    text-decoration: none; 
    margin-left: 10px;
  }
  .short-url-text{
    color: 'white';
    
  }
  .shortened-url:hover {
    background-color: #dacec5;
    color: #bb3a3a;
    cursor: pointer;
  }
  /* Add this to your existing styles.css file */

.table-container {
  margin-top: 40px;
  width: 80%;
  margin: auto;
}

.url-table {
  width: 100%;
  border-collapse: collapse;
}

.url-table th,
.url-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.url-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.url-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.url-table tbody tr:hover {
  background-color: #f0f0f0;
}

.url-table a {
  color: #333;
  text-decoration: none;
}

.url-table a:hover {
  text-decoration: underline;
  color: #555;
}
